@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  background-image: url("images/background.png");
}

body {
  font-family: "Fira Code", monospace;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
  text-underline-offset: 5px;
}

a:hover {
  text-decoration: underline black dotted 2px;
}

.content a {
  text-decoration-thickness: 3px;
}

ul {
  list-style-type: none;
  overflow: hidden;

  display: flex;
  gap: 15px;
}

li {
  display: block;
  text-align: center;
}

.card {
  border: 2px solid black;
  /* box-shadow: 5px 5px 0 -2px #fff,
				5px 5px black; */
  box-shadow: 5px 5px rgb(147, 147, 147);
  background-color: white;
}

main {
  margin: 2em 20%;
}

/* main> :nth-child(odd) {
			box-shadow: 5px 5px 0 -2px #6F6CFF,
				5px 5px black;
		}

		main> :nth-child(even) {
			box-shadow: 5px 5px 0 -2px #8AFF6C,
				5px 5px black;
		} */

header {
  padding: 15px;
  display: flex;
  justify-content: space-between;

  margin: 15px;
}

.content {
  padding: 25px;
  margin: 30px 0;
}

.content > h2 {
  margin: 15px 0 0 0;
}
.content > p {
  margin: 0 0 15px 0;
}

footer {
  text-align: center;
  margin-bottom: 2em;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }

  main {
    margin: 2em 10%;
  }
}
